.product-container {
    .product-card {
        padding: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 17px;
        line-height: 1.3;

        .product-img-container {
            margin-top: 5px;
            width: 100%;
            .product-img {
                width: 100%;
            }
        }

        .product-p {
            margin-top: 5px;

            .product-subtitle {
                font-weight: 600;
                font-size: 17px;
            }
        }

        .product-video {
            width: 100%;
            height: auto;
            margin-top: 10px;
        }
    }

}

@media (min-width:768px) {
    .product-container {
        .product-card{
            width: 100%;

            .product-img-container {
                display: flex;
                justify-content: center;
                .product-img {
                    width: 50%;
                    border-radius: 250px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@media (min-width:1200px)  {
    .product-container {
        padding: 40px;
        background-color: rgb(188, 188, 188);
        display: flex;
        justify-content: center;
        align-items: center;
        .product-card{
            width: 50%;
            background-color: white;
            .product-img-container{
                margin: 15px 0 15px 0;
            }
        }
    }
}